# db
DB_HOST=db
DB_USER=enju_leaf
DB_NAME=enju_leaf_production
DB_PASS=admin

# UID/GID
UID=991
GID=991

RAILS_SERVE_STATIC_FILES=true
REDIS_URL=redis://redis/enju_leaf
SOLR_URL=http://solr:8983/solr/default
RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true
