version: '3'
services:

  db:
    restart: always
    image: postgres:9.6-alpine
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
    volumes:
      - ./postgres:/var/lib/postgresql/data

  redis:
    restart: always
    image: redis:4.0-alpine
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
    volumes:
      - ./redis:/data

  web:
    build: .
    image: orumin/enju_leaf:1.3.1
    restart: always
    env_file: .env.production
    command: sh -c "rm -f /enju_leaf/tmp/pids/server.pid; bundle exec rails s -e production -p 3000"
    volumes:
      - ./assets:/enju_leaf/public/assets
      - ./system:/enju_leaf/private/system
      - ./migrate:/enju_leaf/db/migrate
    networks:
      - external_network
      - internal_network
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

  solr:
    build: .
    image: orumin/enju_leaf:1.3.1
    restart: always
    env_file: .env.production
    command: bundle exec rake sunspot:solr:run
    networks:
      - internal_network
    depends_on:
      - db
      - redis

  resque:
    build: .
    image: orumin/enju_leaf:1.3.1
    restart: always
    env_file: .env.production
    command: bundle exec rake environment resque:work QUEUE=mailers,enju_leaf TEAM_CHILD=1
    volumes:
      - ./system:/enju_leaf/private/system
    networks:
      - external_network
      - internal_network
    depends_on:
      - db
      - redis

networks:
  external_network:
  internal_network:
    internal: true
